.feedback {
	 padding: 100px 50px;
}
.star-rating{
	font-size: 0;
}
.star-rating__wrap{
	display: block;
	font-size: 18px;

	float: left;

}
.star-rating__wrap:after{
	content: '';
	display: table;
	// clear: both;
}
.star-rating__ico{
	float: right;
	padding-left: 2px;
	cursor: pointer;
	color: #FFB300;
}
.star-rating__ico:last-child{
	padding-left: 0;
}
.star-rating__input {
    display: none;

}
.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before {
	content: "\f005";
}

.feedback__list {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}
.feedback__item {
	width: calc((100% - 30px) /3);
	background: #000000;
	border: none;
	border-radius: 32px;
	padding: 50px;
}

.feedback__comment {
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 1.2;

color: #FFFFFF;

margin-top: 21px;
margin-bottom: 19px;
}

.feedback__author {
	font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 1.2;

color: rgba(255, 255, 255, 0.7);
}