.footer__container {
    padding: 100px 50px;
    display: flex;
    align-items: flex-start;
}

.footer__logo {
    width: 224px;
    height: 46px;
    margin-bottom: 20px;
    margin-right: 239px;
}
.socials__list {
    display: flex;
    gap: 10px;
}
.socials__link {
    transition: fill 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.socials__link:hover,
.socials__link:focus,
.socials__link:hover .socials__icon {
fill: #118DA8;
stroke: black;
}

.socials__icon {
    width: 24px;
    height: 24px;
    stroke: #FFFFFF;
    transition: stroke 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.footer__nav__list {
    margin-right: 146px;
}
.footer__secondary__list{
    margin-right: 99px;
}


.footer__nav__link {
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 1.59;

color: #FFFFFF;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
    color: #118DA8;;
}
}

.footer__nav__item:not(:last-child){
    margin-bottom: 10px;
}