.host {
padding: 50px 100px;
}


.arrow__btn {
    background-color: #118DA8;
    width: 112px;
    height: 122px;
    border: none;
    border-radius: 50%;
}

.host__image {
    display: block;
    width: 650px;
}